<h1>'<%= @search_term %>' search results in <%= @category.name %></h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <% if product.image.present? %>
        <p><%= image_tag product.image.thumb.url %></p>
      <% end %>

      <%= link_to product.name, product_path(product) %></li>

  <% end %>
</ul>